<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Discussions</title>
    {{> headers}}

    <style media="screen">

    </style>
  </head>
  <body>
    <nav>
      {{> navbar}}
    </nav>

    <div class="container">
      <p>{{success_msg}}</p>
      <p>{{error_msg}}</p>
      <div class="header">
        <h1>Discussions</h1>
        <p>Try to keep it sober, easier and accessible.</p>
        <a href="/newtopic">Create a Topic</a>
      </div>

      {{#each topics}}
      <div class="card">
        <h1>{{inc @index}} - {{this.topic.heading}}</h1>
        <div class="">
          {{{this.topic.post}}}
        </div>
        {{#if (match this.topic.user ../user._id)}}
        <a href="/showtopic?id={{this.topic.id}}">Open</a>
        <a href="/edittopic?id={{this.topic.id}}">Edit</a>
        <a href="/deletetopic?id={{this.topic.id}}">Delete</a>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </body>
</html>
