<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Events</title>
    {{>headers}}
  </head>
  <body>
    <nav>
      {{>navbar}}
    </nav>
    <div class="container">
      {{#each val}}
        <div class="card">
          <h1>{{inc @index}} - {{this.event.summary}}</h1>
          <p>Start - {{this.event.start.dateTime}}</p>
          <p>Ends - {{this.event.end.dateTime}}</p>
          <p>Location - {{this.event.location}}</p>
          <p>organizer - {{this.event.organizer.email}}</p>
          <p>attendees</p>
          <p>{{{break this.event.attendees}}}</p>
          <p>Description - {{{this.event.description}}}</p>
        </div>
      {{/each}}
    </div>

  </body>
</html>
