<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {{> headers}}
  </head>
  <body>
    <nav>
      {{> navbar}}
    </nav>
    <div class="container">
      <form class="" action="/newtopic" method="post">
        <!-- Not visible part -->
        <input style="display: none" type="text" name="id" value="{{id}}" placeholder="" required>
        <input style="display: none" type="text" name="user" value="{{user._id}}" placeholder="" required>

        <!-- Visible part -->

        <label for="">Heading</label>
        <input type="text" name="heading" value="{{heading}}" placeholder="Write a cool heading to get started." required>
        <textarea name="post" rows="8" cols="80" required>{{post}}</textarea>
        <button type="submit" name="button">Submit</button>
      </form>
      {{#if error}}
        <p>{{error}}</p>
      {{/if}}
    </div>
  <script src="https://cdn.ckeditor.com/4.14.1/basic/ckeditor.js"></script>
  <script type="text/javascript">
    CKEDITOR.replace( 'post' );
  </script>
  </body>
</html>
